<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <!-- overrideDefault -> removes default rooms -->
  <!-- defaultRoomID -> Sets the room that the server puts a joining user in, will be overrider if said room is full -->
  <Rooms overrideDefault="true" defaultRoomID="0">
    <!-- 0 is already taken by the default room -->
    <!-- Set overrideDefault to true to use id 0-->

    <!--No 2 rooms can have the same id-->
    <Room id="0" userLimit="-1" maxBufferSize="30">Join</Room>
    <Room id="1" userLimit="10" maxBufferSize="30">Main 2</Room>
    <Room id="2" userLimit="10" maxBufferSize="30">Main 3</Room>
  </Rooms>

  <Admins>
    <Admin>
      <UserInfo password="Admin1234">Nova</UserInfo>
      <Perms>
        <CanKick>true</CanKick>
        <CanMute>true</CanMute>
        <CanBan>true</CanBan>
        <CanMove>false</CanMove>
      </Perms>
    </Admin>
  </Admins>
  <!-- Leave blank for no admin -->
  
  <GeneralSettings>
    <!-- Leave blank for automatic -->
    <ServerIp></ServerIp>
    <!-- Need either WebPort, DesktopPort or both. Can be left blank to use the default ports -->
    <!-- active tells whether or not to put that server online (ie. if you only want web clients to connect, set desktop active to false and webport active to true)-->
    <WebPort active="true"></WebPort>
    <DesktopPort active="true"></DesktopPort>    
    <ServerPassword></ServerPassword> <!-- Only allows users with the password to join -->
    
    <!-- Leave blank to disable ssl, note, if using our web interface you require ssl. -->
    <PfxCertificate password="">certificate.pfx</PfxCertificate>
  </GeneralSettings>
</Config>